{{ $item := .item }}
{{ $page := .page }}
{{ $summary := partial "functions/get_summary" $item }}
{{ $summary = $summary | page.RenderString }}
{{ $displayDate := .item.Params.event_start | default .item.Date }}

{{ $month := int (time.Format "1" $displayDate) }}
{{ $year := time.Format "2006" $displayDate }}
{{ $semester := "Spring" }}
{{ if and (ge $month 6) (le $month 7) }}
{{ $semester = "Summer" }}
{{ else if ge $month 8 }}
{{ $semester = "Fall" }}
{{ end }}
{{ $semesterLabel := printf "%s %s" $semester $year }}

<article class="md:grid md:grid-cols-4 md:items-baseline">
  <div class="md:col-span-3 group relative flex flex-col items-start">
    <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
      <span class="relative z-10">{{$item.Title}}</span>
    </h2>
    {{ with $item.Params.location }}
    <p class="relative z-10 text-sm text-zinc-500 dark:text-zinc-400 mt-0.5">{{ . }}</p>
    {{ end }}
    <time
      class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-1"
      datetime="{{ time.Format " 2006-01-02" $displayDate }}">
      {{ $semesterLabel }}
    </time>
    <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400 line-clamp-3">{{$summary}}</p>
  </div>
  <time
    class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
    datetime="{{ time.Format " 2006-01-02" $displayDate }}">
    {{ $semesterLabel }}
  </time>
</article>
